.categories {
    position: relative;
    max-width: calc(1290px + 2 * var(--pad15));
    margin: 0 auto;
    padding: 0 var(--pad15);
}

.categories::after {
    content: '';
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}

.categories-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories-wrapper::before, .categories-wrapper::after {
    content: '';
    position: absolute;
    top: 43px;
    width: 30%;
    height: 1px;
    background-color: var(--pseudoline-color);
}

.categories-wrapper::before {
    left: 15px;
}

.categories-wrapper::after {
    right: 5px;
}
.category-heading {
    position: relative;
    margin-bottom: var(--pad35);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: var(--font30);
    text-align: center;
}
.category-heading::before, .category-heading::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 18px;
    height: 18px;
    background-color: var(--social-media-color);
    transform: rotate(45deg);
}

.category-heading::before {
    left: -90px;
}

.category-heading::after {
    right: -90px;
}

.categories-items {
    display: grid;
    grid-template-columns: 1fr 1.17fr 1fr;
    grid-column-gap: 20px;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    grid-template-areas: "first third fourth" "second third fifth";
}

.categories-item {
    position: relative;
    outline-offset: -20px;
    outline: 3px solid #fff;
    transition: .2s;
}

.categories-item:hover {
    outline: 3px solid transparent;
}

.buy {
    position: absolute;
    bottom: 15%;
    left: calc(50% - 60px);
    padding: var(--pad15) var(--pad20);
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #f0975c;
    z-index: 100;
}
.buy:hover {
    color: #f0975c;
    background-color: var(--white-color);
}

.buy:focus, .buy:active {
    border-radius: 0;
    box-shadow:  0 0 0 2px #00BFFF;
}

.hover-link-item {
    position: absolute;
    top: calc(20px - 3px);
    left: calc(20px - 3px);
    width: calc(100% - (20px - 3px)*2);
    height: calc(100% - (20px - 3px)*2);
    background-color: rgba(0,0,0,.3);
    z-index: 10;
}

.hover-link-item::before, .hover-link-item::after {
    content: '';
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 1px;
    background-color: #f0975c;
    z-index: 50;
}

.hover-link-item::after {
    transform: rotate(90deg);
}

.first-item {
    grid-area: first;
}

.second-item {
    grid-area: second;
}

.third-item {
    grid-area: third;
}

.fourth-item {
    grid-area: fourth;
}

.fifth-item {
    grid-area: fifth;
}

 @media screen and (max-width: 1024px) {
    .categories-wrapper::after, .categories-wrapper::before {
        width: 20%;
    }
}
@media screen and (max-width: 768px) {
    .categories-items {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "first second" "third fourth" "third fifth";
    }
    .categories-img {
            width: 100%;
            height:100%;
    }
    .categories-wrapper::after, .categories-wrapper::before {
            content: none;
    }
}

@media screen and (max-width: 470px) {
    .categories-items {
        padding: 0 0;
        grid-template-columns: 1fr;
        grid-template-areas: "first"
                            "second"
                            "third"
                            "fourth"
                            "fifth";
    }
}

@media screen and (max-width: 375px) {
    .category-heading::before {
        left: -45px;
    }
    .category-heading::after {
        right: -45px;
    }
}